.back-to-top {
    cursor: pointer;
    width: 50px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: none;
    z-index: 1000;
}
.back-to-top img {
    width: 50px;
    height: 50px;
}

.animation {
    background-color: #FF7043;
    animation: bg-animation 7s ease-in infinite;

}
.container {
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
}
.animation__example {
    width: 800px;
    display: flex;
    justify-content: space-around;
}
.first__animation__example {
    margin-bottom: 75px;
}
.animation-column__title {
    margin-bottom: 20px;
    font-size: 30px;
}
.animation-column__image {
    animation: animation-item 5s infinite;
    animation-delay: 1s;
}
.animation-column__image img {
    max-width: 200px;
}
.translate {
    transform: translate(30px, 50px);
    animation-delay: 1s;
}
.scale {
    transform: scale(0.5, 0.8);
}
.rotate {
    transform: rotate(45deg);
}
.skew {
    transform: skew(-30deg, -20deg);
}
@keyframes animation-item {
    50% {
        transform: none;
    }
}
@keyframes bg-animation {
    10% {
        background-color: #66BB6A;
    }
    30% {
        background-color: #29B6F6;
    }
    60% {
        background-color: #7E57C2;
    }
    100% {
        background-color: #EC407A;
    }
}

/* sprites */
.sprites {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 50px auto 100px;


}
.first-sprite {
    background: url("../img/first-sprite.png") 0 0 no-repeat;
    width: 900px;
    height: 200px;
    animation: black-cat 1s steps(12) infinite;
}
.second-sprite {
    background: url("../img/second-sprite.png") 0 0 no-repeat;
    width: 300px;
    height: 348px;
    animation: pk 1s steps(14) infinite;
}
.third-sprite {
    background: url("../img/third-sprite.png") 0 0 no-repeat;
    width: 180px;
    height: 221px;
    animation: boy 1s steps(6) infinite;
}
.fourth-sprite {
    background: url("../img/fourth-sprite.png") 0 0 no-repeat;
    width: 240px;
    height: 150px;
    animation: white-cat 1s steps(8) infinite;
}
@keyframes black-cat {
    0% {
        background-position-y: 0;
    }
    100% {
        background-position-y: -2400px;
    }
}
@keyframes pk {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: -4096px;
    }
}
@keyframes boy {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: -1080px;
    }
}
@keyframes white-cat {
    0% {
        background-position-y: 0;
    }
    100% {
        background-position-y: -1217px;
    }
}

.social-list__items{
    background-color: #333333;
    display: flex;
    justify-content: center;
    margin: 0 auto 100px;
    max-width: 600px;
    border-radius: 30px;
    padding: 30px;
}
.social-list .item:hover {
    transform: matrix3d(1.323512, 0.337331, 0, 0.000478, 
    -0.353047, 1.143763, 0, 0.000263, 
    0, 0, 1, 0, 
    3.297923, -34.814553, 0, 1);
transform-origin: -60px -40px 0px;
    z-index: 1;
    position: relative;
}
.social-list__items .item {
    width: 84px;
    height: 84px;
    background-image: url(https://miro.medium.com/max/1400/1*ECSuMpJxNLViTxUOounYlw.png);
    display: block;
    background-position: 0px -168px;
    transition: .7s;
}
.item.item-facebook {
    background-position: 0px -168px;
}

.item-facebook:hover {
    background-position-y: -84px;
}
.item.item-google {
    background-position: -252px -168px;
}

.item-google:hover {
    background-position-y: -84px;
}
.item.item-linkedin {
    background-position: -336px -168px;
}

.item-linkedin:hover {
    background-position-y: -84px;
}


.item.item-pinterest {
    background-position: -420px -168px;
}

.item.item-pinterest:hover {
    background-position-y: -84px;
}

.item.item-skype {
    background-position: -588px -168px;
}

.item.item-skype:hover {
    background-position-y: -84px;
}
.item.item-twiter {
    background-position: -672px -168px;
}

.item.item-twiter:hover {
    background-position-y: -84px;
}












