.screen-article{
    margin-bottom: 20px;
}
.info-page_container {
    margin: 0 auto 50px;
}
.info-page_container .container__info{
    margin-bottom: 20px;
}
.info__title {
    color: var(--black);
}
.info-page__info-box p {
    font-family: var(--montserrat);
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: -0.015em;
    color: var(--black);
}
.accordion__item {
    margin: 0 auto 30px;
}
.accordion__item .accordion__title {
    font-family: var(--montserrat);
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.02em;
    margin-bottom: 30px;
    color: var(--black);
    position: relative;
    display: block;
    padding: 30px;
    text-decoration: none;
    background-color: var(--white);
    box-shadow: 0 0 5px var(--color-line);
    cursor: pointer;
    border-radius: 20px;
}
.accordion__item .accordion__title .accordion__arrow {
    position: absolute;
    top: 40%;
    right: 25px;
    width: 25px;
    height: 25px;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23 11H13V1C13 0.734784 12.8946 0.48043 12.7071 0.292893C12.5196 0.105357 12.2652 0 12 0V0C11.7348 0 11.4804 0.105357 11.2929 0.292893C11.1054 0.48043 11 0.734784 11 1V11H1C0.734784 11 0.48043 11.1054 0.292893 11.2929C0.105357 11.4804 0 11.7348 0 12H0C0 12.2652 0.105357 12.5196 0.292893 12.7071C0.48043 12.8946 0.734784 13 1 13H11V23C11 23.2652 11.1054 23.5196 11.2929 23.7071C11.4804 23.8946 11.7348 24 12 24C12.2652 24 12.5196 23.8946 12.7071 23.7071C12.8946 23.5196 13 23.2652 13 23V13H23C23.2652 13 23.5196 12.8946 23.7071 12.7071C23.8946 12.5196 24 12.2652 24 12C24 11.7348 23.8946 11.4804 23.7071 11.2929C23.5196 11.1054 23.2652 11 23 11Z' fill='black'/%3E%3C/svg%3E");
    transition: all 0.2s ease-out;
}
.accordion__item .accordion__rotate {
    transform: rotate(135deg);
}
.accordion__item .accordion__content {
    padding: 30px;
    margin-bottom: 2px;
    font-family: var(--montserrat);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: var(--grey);
    display: none;
    background-color: var(--white);
    box-shadow: 0 0 5px var(--color-line);
    border-radius: 20px;
}
