/* header */
@media (max-width:1024.98px) {
    .site-nav {
        position: relative;
    }
    .menu-icon {
        position: absolute;
        display: block;
        z-index: 7;
        width: 20px;
        height: 20px;
        cursor: pointer;
        background: url("data:image/svg+xml,%3Csvg width='23' height='13' viewBox='0 0 23 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1H21.8333M1 6.20833H21.8333M1 11.4167H21.8333' stroke='white' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E") center no-repeat;
        transition: 0.2;
    }
    .logo {
        position: absolute;
        left: 50%;
        transform: translate(-50%,0);
    }
    .site-nav .nice-select {
        position: absolute;
        left: 60px;
    }
    .menu-icon.active {
        width: 20px;
        height: 20px;
        background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.03328 0L0.0648918 1.97331L11.0316 12.9675L0 24.0484L1.94676 26L13 14.9408L24.0316 26L26 24.0267L14.9684 12.9675L25.9351 1.97331L23.9667 0L13 10.9942L2.03328 0Z' fill='white'/%3E%3C/svg%3E");
    }
    .menu {
        position: absolute;
        display: none;
        z-index: 6;
        top: 75px;
        left: 28px;
        width: 0;
        height: 0;
        margin: 0;
        background-color: var(--white);
        border: 2px solid var(--border-menu);
        border-radius: 20px;
        opacity: 0;
    }
    .menu.active {
        width: 250px;
        height: 250px;
        display: block;
        opacity: 1;
        transition: 1s;
    }
    .burger-account {
        display: block;
    }
    .menu ul {
        flex-direction: column;
        padding: 40px 20px 20px;
    }
    .menu ul li {
        margin-bottom: 7px;
    }
    .menu ul li a {
        color: var(--black);
    }
    .menu-action {
        min-width: 60px;
        display: flex;
        justify-content: space-between;
    }
    .menu-action img {
        max-width: 20px;
        max-height: 20px;
    }
    .menu-action .account {
        display: none;
    }
}
/* footer */
@media (max-width:1024.98px) {
    .footer {
        flex-direction: column;
        padding: 62px 24px 12px;
    }
    .footer-tablet-container {
        max-width: 500px;
        justify-content: space-between;
        margin: 0 auto 60px;
    }
    .footer-mobile-container {
        width: 300px;
        display: flex;
    }
    .footer-menu {
        width: 140px;
        flex-direction: column;
    }
    .footer-submenu {
        max-width: 140px;
    }
    .footer-submenu li a {
        font-size: 10px;
    }
    .contact li,
    .footer-submenu li {
        margin-bottom: 7px;
    }
    .contact {
        font-size: 10px;
    }
    .footer__social h5 {
        display: none;
    }
    .footer__social {
        margin-top: auto;
        margin-bottom: 0;
    }
    .social__row {
        margin: 0 auto;
        display: flex;
        width: 280px;
        justify-content: space-between;
    }

}
/* footer/header */
@media (max-width:579.98px) {
    .menu ul li a {
        font-size: 12px;
    }
    .footer {
        flex-direction: column;
        padding: 62px 12px 12px;
    }
    .footer-tablet-container {
        max-width: 320px;
        flex-direction: column;
        align-items: center;
    }
    .footer__logo {
        margin-bottom: 60px;
    }
    .footer-mobile-container {
        justify-content: space-between;
        width: 320px;
    }
    .footer-menu {}
}
@media (min-width:1820.98px) {
    .container {
        max-width: 1720px;
    }
    .first-screen__container::after {
        transform: scale(1.3);
    }
    .cases-slider {
        max-width: 1389px;
    }
    .cases-slider__arrow {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        max-width: 1440px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    /* .cases_container {
        max-width: 1389px;
    } */
    .grid-projects__rows {
        grid-template-columns: repeat(5, 1fr);
    }
}
@media(max-width:1270px) {
    .grid-projects__rows {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width:1120px) {
    .cases-slider__arrow {
        max-width: 720px;
    }

}
@media (max-width:1024.98px) {
    /* main */
    /* first-screen */
    .container__title {
        font-size: 50px;
        margin-bottom: 20px;
    }
    .container__subtitle {
        font-size: 26px;
    }
    .fsc__subtitle {
        max-width: 600px;
    }
    /* about-us */
    .cards__row {
        flex-direction: column;
    }
    .card {
        width: 460px;
        margin-bottom: 50px;
        padding: 58px 40px 65px;
    }
    .card:first-child,
    .card:last-child {
        transform: scale(1);
    }
    /* project */
    .conditions__steps {
        max-width: 530px;
    }
    .conditions__steps::after {
        max-height: 1150px;
        height: 100%;
    }
    .step {
        font-size: 26px;
        max-width: 220px;
    }
    .step::after {
        left: calc(100% + 45px);
    }
    .step:nth-child(2n)::after {
        left: calc(0% - 45px);
    }
    .grid-projects__rows {
        grid-template-columns: repeat(2, 1fr);
        margin-right: -15px;
    }
    .grid-projects__item {
        margin-right: 15px;
    }
    /* page-project */
    .general-data {
        flex-direction: column;
        align-items: center;
    }
    .main-panel {
        max-width: 800px;
        max-height: 540px;
        width: 100%;
    }
    .general-data__img {
        max-width: 700px;
        width: 100%;
        margin: 0 auto 30px;
    }
    .main-panel .done-price,
    .main-panel .sum-price {
        font-size: 14px;
    }

    .descriptio-project {
        font-size: 24px;
        line-height: 32px;
    }
    .photos-project img {
        max-width: 400px;
        margin-bottom: 12px;
        margin-right: 12px;
    }
    .employer img {
        margin-right: 40px;
    }
    .employer-info__name,
    .question__title {
        line-height: 28px;
    }
    /* cyber */
    .cyber-first-screen .cyber-first-screen__title {
        margin-bottom: 50px;
    }
    .cyber-service__container {
        max-width: 848px;
        flex-direction: column-reverse;

    }
    .cyber-service__container:nth-child(2n) {
        flex-direction: column-reverse;
    }
    .cyber-info__title {
        font-size: 28px;
        line-height: 39px;

    }
    .cyber-info__description {
        font-size: 18px;
        line-height: 19px;
    }
    .cyber-info__btn {
        font-size: 14px;
        padding: 16px 35px;
    }

    /* crypto */
    .cryptoindustry-screen-slider-container {
        padding: 0;
    }
    .new-date {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 26px;
    }
    .cryptoindustry-slider__title {
        font-size: 34px;
        line-height: 50px;
        margin-bottom: 0;
    }
    .cryptoindustry-slider__description {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 60px;
    }
    .cryptoindustry-slider__btn {
        font-size: 14px;
        line-height: 37px;
        padding: 12px 38px;
    }
    .new__info-box {
        margin-left: auto;
        margin-right: 0;
        background-color: var(--white);
        border-radius: 20px;
        max-width: 1135px;
        width: 100%;
        padding: 40px 65px 55px 230px;
    }
    .new-container__img {
        margin-right: -220px;
    }
    .article-container__img img,
    .new-container__img img {
        max-width: 250px;
        max-height: 250px;
    }
    .youtube_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .youtube-video iframe {
        max-width: 250px;
        max-height: 150px;
    }

    /* list */
    .header__bg {
        min-height: 70px;
    }
    .list-item-info__date {
        font-size: 18px;
        line-height: 24px;

    }
    .list-item-info__title {
        font-size: 26px;
        line-height: 40px;

    }
    .list-item-info__description {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 130%;
        letter-spacing: -0.015em;
        color: #000000;
    }

    /* new-article */
    .page-article,
    .page-new {
        min-height: 800px;
    }
    .page-article__container .article-slider__title,
    .page-new__container .new-slider__title {
        font-size: 28px;
    }
    .page-article__container .article-slider__description,
    .page-new__container .new-slider__description {
        font-size: 14px;
        line-height: 18px;
    }
    .page-new__container .new__info-box .new-slider__description {
        margin-bottom: 20px;
    }
    .back {
        font-size: 16px;
    }
    /* youtube-slider */
    .youtube-item__container {
        display: flex;
        justify-content: center;
        max-width: 300px;
        max-height: 400px;
    }
    .youtube-item__container iframe {
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }
    /* basket */
    .basket__container {
        flex-direction: column;
        align-items: center;
    }
    .basket__list {
        margin-right: 0;
    }
    .basket-list__item {
        align-items: center;
    }
    .basket-item__info {
        padding: 6px;
    }
    .basket-item__title {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 10px;
    }
    .basket-item__description {
        font-size: 12px;
        line-height: 16px;
    }
    /* info */
    .info-page__info-box p {
        font-size: 22px;
        line-height: 30px;
    }
    .info__title {
        font-size: 32px;
    }
    /* account */
    .setting-name {
        flex-direction: column;
        margin-bottom: 0;
    }
    .setting-name .setting-item {
        margin-right: 0;
        margin-bottom: 60px;
    }

}
@media(max-width:725px) {
    .youtube-item__container {
        display: flex;
        justify-content: center;
        max-width: 400px;
        max-height: 500px;
    }
    .youtube-item__container iframe {
        max-width: 400px;
        max-height: 500px;
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }
    .order__item {
        flex-direction: column;
    }
    .order__item img {
        margin-bottom: 30px;
        margin-right: 0;
    }
    .order-item__info {
        margin-bottom: 20px;
    }
    .save {
        font-size: 22px;
        line-height: 27px;
        padding: 12px 100px;
    }
    .exit__btn {
        padding: 12px 50px;
    }
}
@media (max-width:635px) {
    /* project */
    .grid-projects__rows {
        grid-template-columns: repeat(1, 1fr);
    }
    .grid-projects__item {
        transform: scale(1.2);
        margin-bottom: 150px;
    }

}
@media (max-width:579.98px) {
    /* main */
    section {
        margin-bottom: 70px;
    }
    .container__info {
        margin-bottom: 50px;
    }
    /* first-screen */
    .container__title {
        font-size: 28px;
        line-height: 57px;
        margin-bottom: 20px;
    }
    .container__subtitle {
        font-size: 18px;
        line-height: 30px;
    }
    .fsc__subtitle {
        /* max-width: 500px; */
    }
    .yellow__btn {
        font-size: 20px;
        line-height: 37px;
        border-radius: 47.5px;
        padding: 18px 54px;
    }

    /* about-us */
    .card {
        max-width: 320px;
        width: 100%;
        margin-bottom: 50px;
        padding: 58px 40px 65px;
    }
    .card__title {
        font-size: 24px;
    }
    .card__icon {
        width: 150px;
        height: 150px;
    }
    .card__subtitle {
        font-size: 18px;
        line-height: 29px;
        margin-bottom: 40px;
        min-height: 70px;
    }

    /* case */
    .cases-slider {
        padding: 0;
    }
    .case_container {
        transform: scale(0.55);
        transition: 0.8s;
        max-width: 370px;
    }
    .case.slick-current .case_container {
        max-width: 370px;
    }
    .case.slick-center .case__title {
        font-size: 32px;
        margin-bottom: 20px;
    }
    .case.slick-center .case__price {
        font-size: 76px;
        margin-bottom: 25px;
    }
    .case.slick-center .case-description__list {
        font-size: 22px;
    }
    .case.slick-center .case-description-list__item {
        font-size: 20px;
    }
    .case.slick-center .case__btn {
        padding: 24px 50px;
    }
    .cases-slider__arrow {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        max-width: 470px;
        width: 100%;
    }
    .slick-arrow {
        width: 40px;
        height: 40px;

    }
    /* project */
    .conditions__steps {
        max-width: 320px;
    }
    .conditions__steps::after {
        max-height: 650px;
        height: 100%;
    }
    .step {
        font-size: 16px;
        line-height: 29px;
        max-width: 130px;
        margin-bottom: 70px;
    }
    .step::after {
        left: calc(100% + 30px);
    }
    .step:nth-child(2n)::after {
        left: calc(0% - 30px);
    }
    .conditions .yellow__btn {
        max-width: 305px;
    }
    .grid-projects {
        margin-bottom: 10px;
    }
    .grid-projects__item {
        transform: scale(1.05);
        margin-bottom: 50px;
    }
    /* page-project */
    .tabs-nav a {
        display: block;
        margin-right: 46px;
        font-family: var(--montserrat);
        font-style: normal;
        font-weight: 700;
        font-size: 10px;
        line-height: 20px;

    }
    .descriptio-project {
        font-size: 16px;
        line-height: 26px;
    }
    .photos-project img {
        max-width: 320px;
        margin-bottom: 12px;
        margin-right: 12px;
    }
    .employer {
        flex-direction: column;
        margin-bottom: 30px;
    }
    .employer-info {
        margin-top: 0;
    }
    .employer img {
        width: 200px;
        height: 300px;
        margin-bottom: 20px;
        margin-right: 0;
    }
    .employer-info__position,
    .question__answer {
        font-size: 20px;
    }
    .employer-info__position,
    .question__answer {
        font-size: 16px;

    }
    /* cyber */
    .cyber-service__container {
        margin-bottom: 70px;
    }
    .cyber-service__container::after {
        bottom: calc(0% - 50px);
    }
    .cyber-info__title {
        font-size: 16px;
        line-height: 30px;
        margin-bottom: 10px;
    }
    .cyber-info__description {
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 30px;
    }

    /* crypto */
    .cryptoindustry-screen-slider-container {
        padding: 0;
    }
    .cryptoindustry-screen .container__info {
        margin-bottom: 10px;
    }
    .article-slider__arrow,
    .news-slider__arrow,
    .youtube-slider__arrow {
        width: 100px;
    }
    .cryptoindustry-screen .slick-arrow {
        width: 30px;
        height: 30px;
    }
    .cryptoindustry-screen__title {
        margin-bottom: 0;
    }
    .article_container,
    .new_container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .new-date {
        font-size: 12px;
        line-height: 20px;
        margin-bottom: 10px;
    }
    .cryptoindustry-slider__title {
        font-size: 18px;
        line-height: 40px;
        margin-bottom: 10px;
    }

    .new_container {
        padding-top: 0;

    }
    .cryptoindustry-slider__description {
        font-size: 10px;
        line-height: 20px;
        margin-bottom: 30px;
    }
    .cryptoindustry-slider__btn {
        font-size: 14px;
        line-height: 37px;
        padding: 12px 30px;
    }
    .new__info-box {
        position: relative;
        margin-top: -100px;
        z-index: 0;
        margin-left: auto;
        margin-right: 0;
        background-color: var(--white);
        border-radius: 20px;
        max-width: 1135px;
        width: 100%;
        padding: 100px 65px 55px;
    }
    .new-container__img {
        z-index: 1;
        margin-right: 0;
        margin-top: 0;
        position: relative;
    }
    .article-container__img img,
    .new-container__img img {
        max-width: 200px;
        max-height: 200px;
    }
    .youtube_container {
        display: flex;
        /* grid-template-columns: repeat(1, 1fr);     */
    }
    .youtube-video iframe {
        max-width: 250px;
        max-height: 150px;
    }
    /* list */
    .list__item {
        flex-direction: column;
        align-items: center;
        padding: 30px 12px;
    }
    .list__item img {
        max-width: 320px;
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }
    .list-item-info__date {
        font-size: 14px;
        line-height: 20px;
    }
    .list-item-info__title {
        font-size: 22px;
        line-height: 35px;
    }
    .list-item-info__description {
        font-size: 16px;
        line-height: 120%;
    }

    /* new-article */
    .page-article,
    .page-new {
        min-height: 800px;
    }
    .page-article__container .article-slider__title,
    .page-new__container .new-slider__title {
        font-size: 24px;
    }
    .page-article__container .article-slider__description,
    .page-new__container .new-slider__description {
        font-size: 10px;
        line-height: 16px;
    }
    .page-new__container .new__info-box .new-slider__description {
        margin-bottom: 20px;
    }
    .back {
        font-size: 14px;
    }
    /* basket */
    .basket-list__item {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .basket-item__info,
    .basket-list__item img {
        margin-bottom: 20px;
    }
    .basket-item__info {
        margin-left: 0;
    }
    .basket-item__title {
        font-size: 14px;

    }
    .basket-item__description {
        font-size: 12px;
        line-height: 16px;
    }
    .clear-basket,
    .continue-buy {
        font-size: 12px;
    }
    .continue-buy {
        position: absolute;
        right: 10px;
        top: 10px;
    }
    .clear-basket {
        position: absolute;
        right: 10px;
        top: 40px;
    }
    .basket-total__price,
    .basket-total__promocode {
        flex-direction: column;
    }
    .basket-total-price__title-sum,
    .basket-total-promocode__title {
        font-size: 12px;
        margin-bottom: 10px;
    }
    .basket-total__promocode {
        margin-bottom: 50px;
    }
    .checkout {
        padding: 20px 55px;
        font-size: 14px;
        line-height: 24px;

    }

    /* info */
    .info-page__info-box p {
        font-size: 18px;
        line-height: 28px;
    }
    .info__title {
        font-size: 22px;
    }
    .accordion__item .accordion__title {
        font-size: 22px;
        line-height: 30px;
    }
    .accordion__item .accordion__title .accordion__arrow {
        width: 20px;
        height: 20px;
        background-size: cover;
    }
    .accordion__item .accordion__content {
        font-size: 14px;
        line-height: 20px;

    }
    /* account */
    #account-tabs {
        margin-left: 0;
    }
    .account__tabs-nav a {
        margin-right: 26px;
        font-size: 16px;
        line-height: 20px;
    }
    .setting-item label {
        font-size: 20px;
        line-height: 39px;
    }
    .setting-item input {
        padding: 6px;
        font-size: 20px;
        line-height: 39px;
        min-width: 100%;
    }
    .exit__btn,
    .save {
        font-size: 18px;
        line-height: 27px;
        padding: 12px 100px;
    }
    .exit__btn {
        padding: 12px 50px;
    }
    .account-page .accordion__title-text {
        font-size: 16px;
    }
    .account-page .order__sum {
        font-size: 16px;
    }
    .account-page .basket-list__item {
        padding: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .account-page .basket-list__item img {
        max-width: 200px;
    }
    /* like */

    .like-list__item {
        flex-direction: column;
        align-items: center;
    }
    .like-list__item img {
        margin-bottom: 20px;
    }
    .like-item__title {
        font-size: 16px;
        line-height: 16px;
        margin-bottom: 10px;

    }
    .like-item__description {
        font-size: 12px;
        line-height: 18px;
    }

}

/* modal-window */
@media (max-width:635px) {

    .form__sign-up input,
    .form__sign-up label {
        font-size: 20px;
        line-height: 28px;
    }
    .sign-up-item {
        display: flex;
        flex-direction: column;
    }
    .sign-up-name {
        flex-direction: column;
        margin-bottom: 0;
    }
    .sign-up-name .sign-up-item {
        margin-bottom: 20px;
    }
    .sign-up-other-date .sign-up-item {
        margin-bottom: 20px;
    }

    .form__sign-up .sign-up-name .sign-up-item input {
        max-width: 572px;
        width: 100%;
        margin-right: 92px;
    }
    .form__sign-up input {
        max-width: 572px;
        width: 100%;
    }
    .sign-up-other-date::after {
        left: 0;
        bottom: calc(0% - 95px);
        font-size: 16px;
    }
    .form__sign-up .sign-up__btn {
        font-size: 20px;
        line-height: 27px;
        padding: 12px 115px;
        display: flex;
        justify-content: center;

    }
}
@media(max-width:579.98px) {
    .form__modal-request {
        max-width: 752px;
        padding: 80px 54px 66px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .modal-request-other-date {
        margin-bottom: 37px;
    }
    .form__modal-request .modal-request__btn {
        font-size: 20px;
        line-height: 25px;
        padding: 35px 75px;
        min-width: 321.67px;
    }
    .form__modal-request input,
    .form__modal-request label {
        font-size: 20px;
        line-height: 27px;
    }
    .form__modal-request input {
        min-height: 70px;
        min-width: 320px;
    }
    .form__modal-request .modal_title {
        font-size: 26px;
    }
    .form__sign-in input,
    .form__sign-in label {
        font-size: 20px;
        line-height: 28px;
    }
    .form__sign-in input {
        padding: 6px;
        font-weight: 400;
        min-width: 420px;
        width: 100%;
        min-height: 91px;
        margin-top: 18px;
    }
    .sign-in-item-email__after,
    .sign-in-item-password__after {
        font-size: 20px;
        line-height: 27px;
    }
    .sign-in-item {
        display: flex;
        flex-direction: column;
    }
    .form__sign-in .sign-in__btn {
        font-size: 20px;
        line-height: 27px;
        padding: 12px 115px;

    }
}


